<%- include('partials/header'); -%>

<form>
  <h2>Sign Up</h2>

  <label for="email"></label>
  <input type="text" name="email" id="email" autocomplete="username" required />
  <div class="email error"></div>

  <label for="password"></label>
  <input
    type="password"
    name="password"
    id="password"
    autocomplete="new-password"
    required
  />
  <div class="password error"></div>

  <button>Sign Up</button>
</form>

<script>
  function getUserCredentials(form, inputs = ['email', 'password']) {
    return inputs.reduce(
      (acc, curr) => ({ ...acc, [curr]: form[curr].value }),
      {}
    );
  }

  function sendSignUpRequest(body) {
    return fetch('/signup', {
      method: 'POST',
      body: JSON.stringify(body),
      headers: { 'Content-Type': 'application/json' },
    });
  }

  function resetErrors() {
    emailError.textContent = '';
    passwordError.textContent = '';
  }
  function setErrors(errors) {
    emailError.textContent = errors.email;
    passwordError.textContent = errors.password;
  }

  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    resetErrors();

    const res = await sendSignUpRequest(getUserCredentials(form));
    const data = await res.json();

    if (data.errors) {
      setErrors(data.errors);
    } else {
      location.assign('/');
    }
  });
</script>

<%- include('partials/footer'); -%>
